@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

// Primary
$black: black;
$white: white;

// Dark mode
$dark-gray-dark-mode-shadow: hsl(209, 23%, 20%);
$dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
$white-dark-mode-text: hsl(0, 0%, 100%);
$very-dark-blue-dark-mode-bg: hsl(207, 26%, 17%);

// Light mode
$dark-gray-light-mode-shadow: hsl(0, 6%, 83%);
$very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
$very-light-gray-light-mode-bg: hsl(0, 0%, 98%);

// Fonts
$font-family: "Nunito Sans", sans-serif;
$font-weight-light: 300;
$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;

// Font size
$country-name: 28px;
$title-font-size: 22px;
$country-name-main-page: 20px;
$detail-page-font-size: 16px;
$homepage-item-font-size: 14px;
$line-height: 2;

// Border
$border-radius: 4px;
