@import "../../style/main.scss";

.country-continent-container {
  background-color: $white;
  font-size: $homepage-item-font-size;
  font-weight: $font-weight-light;
  position: relative;
  border-radius: $border-radius;

  &-dark-mode {
    @extend .country-continent-container;
    background-color: $dark-blue-dark-mode-elements;
  }

  .country-continent-select-arrow {
    position: absolute;
    top: 15px;
    left: 155px;
    z-index: 1;

    &-dark-mode {
      @extend .country-continent-select-arrow;
    }
  }

  .filter-by-region {
    @include border-shadow;

    @extend .country-continent-container;
    border: none;
    width: 180px;
    height: 40px;
    padding: 10px 20px;
    text-align: left;

    &-dark-mode {
      @extend .filter-by-region;
      @include border-shadow-dark-mode;
      background-color: $dark-blue-dark-mode-elements;
      color: $white;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .continent-list {
    @extend .country-continent-container;

    position: absolute;
    width: 180px;
    top: 30px;
    list-style-type: none;
    padding: 0px 0px;
    text-align: left;

    &-dark-mode {
      @extend .continent-list;
      background-color: $dark-blue-dark-mode-elements;
      color: $white;
    }

    .continent {
      padding: 5px 20px;
      cursor: default;

      // &-dark-mode {
      //   @extend .continent;
      //   &:hover {
      //     background-color: $dark-gray-dark-mode-shadow;
      //   }
      // }

      &:hover {
        background-color: $dark-gray-light-mode-shadow;
        border-radius: $border-radius;
      }
    }
  }
}
