@import "../../style/main";

.clear-select {
  @include border-shadow;

  background-color: $white;
  border-radius: 30%;
  font-size: $detail-page-font-size;
  font-weight: $font-weight-light;
  width: fit-content;
  height: fit-content;
  padding: 5px 20px;
  margin: 20px 20px;
  border: none;
  cursor: default;

  &-dark-mode {
    @extend .clear-select;
    @include border-shadow-dark-mode;
    color: $white;
    background-color: $dark-blue-dark-mode-elements;
  }

  &:hover {
    transform: scale(1.2);
  }
}
