@import "../../style/main";

.flag-img {
  width: 40vw;
  height: 25vw;
}

@media only screen and (max-width: 375px) {
  .flag-img {
    padding-top: 50px;
    width: 90vw;
    height: 60vw;
  }
}

@media only screen and (max-width: 1000px) {
  .flag-img {
    padding-top: 50px;
    width: 60vw;
    height: 30vw;
  }
}
