@import "../../style/main";

.country-single-info {
  display: flex;
  align-items: flex-start;
  padding: 40px 60px;
  gap: 10vw;
  height: 100vh;

  .country-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-size: $detail-page-font-size;

    &-dark-mode {
      @extend .country-info-container;
      color: $white;
    }

    .country-info {
      display: flex;
      align-items: flex-start;
      gap: 190px;
      line-height: 2;
      font-size: $detail-page-font-size;
      position: relative;
    }
  }
}

@media only screen and (max-width: 375px) {
  .country-single-info {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;

    .country-info-container {
      align-items: flex-start;
      .country-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .country-single-info {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 120vh;
  }
}
