@import "../../style/main";

.countries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 12px;
  justify-items: center;
  row-gap: 60px;
}

@media only screen and (max-width: 375px) {
  .countries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1350px) {
  .countries-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .countries-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 675px) {
  .countries-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
