@import "../../style/main";

.search-country-container {
  position: relative;

  .search-icon {
    position: absolute;
    top: 14px;
    left: 25px;
    z-index: 1;
  }

  .search-country-input {
    @include border-shadow;

    border: 0;
    border-radius: $border-radius;
    height: 40px;
    width: 450px;
    text-indent: 60px;

    &::placeholder {
      font-size: $homepage-item-font-size;
      font-weight: $font-weight-light;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 375px) {
  .search-country-container {
    .search-country-input {
      width: 330px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .search-country-container {
    .search-country-input {
      width: 320px;
    }
  }
}
