@import "./style/main";

body {
  margin: 0;
}

.app {
  background-color: $very-light-gray-light-mode-bg;
  font-family: $font-family;

  &-dark-mode {
    @extend .app;
    background-color: $very-dark-blue-dark-mode-bg;
  }
}
